@model ME.Libros.Web.Models.GastoViewModel

<h3 class="page-header">Nuevo gasto</h3>
@using (Html.BeginForm("Crear", "Gasto", FormMethod.Post, new { id = "formGasto", @class = "form-horizontal formEntidad" }))
{
    @Html.Partial("Shared/Form_Partial", Model)

    <div class="row">
        <div class="col-md-10">
            <div class="text-right">
                <a id="btnCancelar" class="btn btn-default" href="@Url.Action("Index")">
                    Cancelar
                </a>
                <input id="btnCrear" type="submit" value="Crear" class="btn btn-success" />
            </div>
        </div>
    </div>
}