@using ME.Libros.Web.Models

<ul class="nav nav-sidebar nav-pills nav-stacked">
    @foreach (var subMenu in (List<MenuViewModel>)ViewBag.SubMenues)
    {
        <li role="presentation" class="@(subMenu.Seleccionado ? "active" : "")">
            <a id=@("link_" + subMenu.Id) role="tab" href="@subMenu.Link">@subMenu.Nombre</a>
        </li>
    }
</ul>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menuLateral ul li a").on("click", function () {
            showAjaxLoader();
        });
    });
</script>