@using ME.Libros.Web.Models

<ul class="nav nav-sidebar nav-pills nav-stacked">
    @foreach (var menu in (List<MenuViewModel>)ViewBag.Menues)
    {
        <li role="presentation" class="@(menu.Seleccionado ? "active" : "")">
            <a id=@("link_" + menu.Id) role="tab" href="@menu.Link">@menu.Nombre</a>
        </li>
    }
</ul>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menuLateral ul li a").on("click", function () {
            showAjaxLoader();
        });
    });
</script>