@using ME.Libros.Web.Models

<div class="menuLateral">
    <ul class="nav nav-pills nav-stacked" style="max-width: 200px;">
        @foreach (var menu in (List<MenuViewModel>)ViewBag.Menues)
        {
            <li role="presentation" class="@(menu.Seleccionado ? "active" : "")">
                <a id=@("link_" + menu.Id) role="tab" @*data-toggle="tab"*@ href="@menu.Link">@menu.Nombre</a>
            </li>
        }
    </ul>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".menuLateral ul li a").on("click", function () {
            showAjaxLoader();
            //window.location = $(this).attr("href");
        });
    });
</script>