@model ME.Libros.Web.Models.RubroViewModel

<h3>Detalle rubro</h3>
<div id="formRubro" class="form-horizontal">
    @Html.Partial("Shared/Form_Partial", Model)

    <div class="form-group">
        <div class="col-sm-offset-8">
            <a id="btnCancelarDetalle" class="btn btn-default" href="@Url.Action("Index")">
                Cancelar
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#formCliente :input").each(function () {
            $(this).attr('disabled', true);
        });
    });
</script>

