@model ME.Libros.Web.Models.RubroViewModel

<h3>Modificar rubro</h3>
@using (Html.BeginForm("Modificar", "Rubro", FormMethod.Post, new { id = "formRubro", @class = "form-horizontal formEntidad" }))
{
    @Html.Partial("Shared/Form_Partial", Model)

    if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger" role="alert">
            <b>Error:</b>
            @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary().ToString()))
        </div>
    }

    @Html.HiddenFor(model => model.Id)

    <div class="form-group form-group-sm">
        <div class="col-sm-offset-8">
            <a id="btnCancelarModificar" class="btn btn-default" href="@Url.Action("Index")">
                Cancelar
            </a>
            <input type="submit" value="Modificar" class="btn btn-success" />
        </div>
    </div>
}
