@model ME.Libros.Web.Models.CobradorViewModel

<h3 class="page-header">Nuevo cobrador</h3>
@using (Html.BeginForm("Crear", "Cobrador", FormMethod.Post, new { id = "formCobrador", @class = "form-horizontal formEntidad" }))
{
    @Html.Partial("Shared/Form_Partial", Model)

    <div class="row">
        <div class="col-md-10">
            <div class="text-right">
                <a id="btnCancelar" class="btn btn-default" href="@Url.Action("Index")" title="Cancelar">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    Cancelar
                </a>
                <button type="submit" class="btn btn-success" title="Crear cobrador">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Crear
                </button>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#Dni").val() == "0") {
            $("#Dni").val("");
        }
    });
</script>