<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-navbar-custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DataTables-1.10.9/media/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.9/extensions/KeyTable/css/keyTable.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.9/extensions/Buttons/css/buttons.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.custom.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-switch/bootstrap3/bootstrap-switch.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    @* Scripts *@
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/bootstrap-switch.js"></script>
    <script src="~/Scripts/bootstrap-switch-custom.js"></script>
    <script src="~/Scripts/DataTables-1.10.9/media/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables-1.10.9/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/DataTables-1.10.9/extensions/KeyTable/js/dataTables.keyTable.js"></script>
    <script src="~/Scripts/DataTables-1.10.9/extensions/Buttons/js/dataTables.buttons.js"></script>
    <script src="~/Scripts/DataTables-1.10.9/extensions/Buttons/js/buttons.bootstrap.js"></script>
    <script src="~/Scripts/DataTablesCustom/jquery.dataTables.config.custom.js"></script>
    <script src="~/Scripts/DataTablesCustom/jquery.dataTables.custom.js"></script>
    <script src="~/Scripts/common.js"></script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>