@model ME.Libros.Web.Models.LocalidadViewModel

<h3>Nueva localidad</h3>
@using (Html.BeginForm("Crear", "Localidad", FormMethod.Post, new { id = "formLocalidad", @class = "form-horizontal formEntidad" }))
{
    @Html.Partial("Shared/Form_Partial", Model)

    <div class="row">
        <div class="col-md-5">
            <div class="alert alert-danger validationSummary @(ViewData.ModelState.IsValid ? "hide" : "")" role="alert">
                <a class="close" data-hide="alert" aria-hidden="true">×</a>
                <b>Mensajes:</b>
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary().ToString()))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="text-right">
                <a id="btnCancelar" class="btn btn-default" href="@Url.Action("Index")">
                    Cancelar
                </a>
                <input id="btnCrear" type="submit" value="Crear" class="btn btn-success" />
            </div>
        </div>
    </div>
}