@using ME.Libros.Utils.Enums
@model ME.Libros.Web.Models.CompraViewModel

<script src="~/Scripts/compra.js"></script>

<h3 class="page-header">Nueva compra</h3>
@using (Html.BeginForm("Crear", "Compra", FormMethod.Post, new { id = "formCompra", @class = "form-horizontal formEntidad" }))
{
    @Html.Partial("CompraPagada/Shared/Form_Partial", Model)

    <div class="row">
        <div class="col-md-12">
            <div class="text-right">
                <a id="btnCancelar" class="btn btn-default" href="@Url.Action("Index", new { estado = EstadoCompra.Pagada})">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    Cancelar
                </a>
                <button id="btnCrearCompra" name="btnCrearCompra" type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Crear
                </button>
            </div>
        </div>
    </div>
    @Html.Hidden("cantidadItems", Model.Items.Count, new { id = "cantidadItems" })
}

<div id="contenedorCompraItem"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".datepicker").each(function () {
            $(this).datepicker("setDate", new Date());
        });

        $("#btnNuevoCompraItem").on("click", function () {
            abrirModalCompraItem('@Url.Action("CrearItem", "CompraItem")');
        });

        $('#formCompra').validate().settings.ignore = false;
        $("#cantidadItems").rules("add", {
            min: 1,
            messages: {
                min: "Debe agregar al menos un <b>Item</b> al Detalle de la compra"
            }
        });
    });
</script>
