<div class="menuLateral">
    <ul class="nav nav-pills nav-stacked" style="max-width: 200px;">
        <li role="presentation" class="active">
            <a id="linkTabClientes" href="#tabClientes" role="tab" data-toggle="tab">Clientes</a>
        </li>
        <li role="presentation">
            <a href="#tabCobradores" role="tab" data-toggle="tab">Cobradores</a>
        </li>
        <li role="presentation">
            <a href="#tabVendedores" role="tab" data-toggle="tab">Vendedores</a>
        </li>
        <li role="presentation">
            <a href="#tabProveedores" role="tab" data-toggle="tab">Proveedores</a>
        </li>
        <li role="presentation">
            <a href="#tabZonas" role="tab" data-toggle="tab">Zonas</a>
        </li>
        <li role="presentation">
            <a id="linkTabLocalidades" href="#tabLocalidades" role="tab" data-toggle="tab">Localidades</a>
        </li>
    </ul>
</div>

<div class="tab-content contenedor">
    <div id="tabClientes" role="tabpanel" class="tab-pane fade in active">
    </div>
    <div id="tabCobradores" role="tabpanel" class="tab-pane fade">
    </div>
    <div id="tabVendedores" role="tabpanel" class="tab-pane fade">
    </div>
    <div id="tabProveedores" role="tabpanel" class="tab-pane fade">
    </div>
    <div id="tabZonas" role="tabpanel" class="tab-pane fade">
    </div>
    <div id="tabLocalidades" role="tabpanel" class="tab-pane fade">
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#linkTabClientes").click();
    });

    $("#linkTabClientes").on("click", function () {
        var url = '@Url.Action("Index", "Cliente")';
        $.get(url, function (data) {
            $("#tabClientes").html(data);
        });
    });

    $("#linkTabLocalidades").on("click", function () {
        var url = '@Url.Action("Index", "Localidad")';
        $.get(url, function (data) {
            $("#tabLocalidades").html(data);
        });
    });

</script>