@model ME.Libros.Web.Models.VentaViewModel

<h3>Nueva venta</h3>
@using (Html.BeginForm("Crear", "VentaVigente", FormMethod.Post, new { id = "formVentaVigente", @class = "form-horizontal formEntidad" }))
{
    @Html.Partial("Shared/Form_Partial", Model)

    <div class="row">
        <div class="col-md-10">
            <div class="alert alert-danger validationSummary @(ViewData.ModelState.IsValid ? "hide" : "")" role="alert">
                <a class="close" data-hide="alert" aria-hidden="true">×</a>
                <b>Mensajes:</b>
                @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary().ToString()))
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="text-right">
                <a id="btnCancelar" class="btn btn-default" href="@Url.Action("Index")">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    Cancelar
                </a>
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Crear
                </button>
            </div>
        </div>
    </div>
    @*<input type="text" name="Items[0].ProductoId" value="" />
    <input type="text" name="Items[0].Cantidad" value="" />
    <input type="hidden" name="Items[0].Monto" value="0" />*@
}


@{
    Html.RenderAction("CrearItem");
}

<script type="text/javascript">
    $(document).ready(function() {

    });
</script>