@model ME.Libros.Web.Models.UsuarioViewModel

<h3 class="page-header">Nuevo usuario</h3>
@using (Html.BeginForm("Crear", "Usuario", FormMethod.Post, new { id = "formUsuario", @class = "form-horizontal formEntidad" }))
{
    @Html.Partial("Shared/Form_Partial", Model)

    <div class="row">
        <div class="col-md-10">
            <div class="text-right">
                <a id="btnCancelar" class="btn btn-default" href="@Url.Action("Index")">
                    Cancelar
                </a>
                <input id="btnCrear" type="submit" value="Crear" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#Habilitado").bootstrapSwitch({ state: true });
    });
</script>