body {
    padding-top: 50px;
    padding-bottom: 70px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    width: 100%;
    margin-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    text-align: right;
}

.menuLateral {
    float: left;
    width: 10%;
}

.contenedor {
    float: left;
    width: 85%;
    margin-left: 20px;
}

.tablaCustom {
    margin-top: 20px;
}