@model IEnumerable<ME.Libros.Web.Models.LoginViewModel>



<!DOCTYPE html>
<body>
    <form>
        
        <div class="col-md-3">
            <h3>Login</h3>
            <div class="form-group">
                <label for="inputUsuario">Usuario</label>
                <input type="text" class="form-control" id="inputUsuario" placeholder="Usuario">
            </div>
            <div class="form-group">
                <label for="inputPassword">Contraseña</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">
            </div>
           
                <div class="checkbox">
                    <label><input type="checkbox"> Recordar contraseña</label>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-success">Loguearse</button>
                </div>
            </div>
       
    </form>
</body>
</html>