@model ME.Libros.Web.Models.ProveedorViewModel

<h3 class="page-header">Nuevo proveedor</h3>
@using (Html.BeginForm("Crear", "Proveedor", FormMethod.Post, new { id = "formProveedor", @class = "form-horizontal formEntidad" }))
{
    @Html.Partial("Shared/Form_Partial", Model)

    <div class="row">
        <div class="col-md-10">
            <div class="text-right">
                <a id="btnCancelar" class="btn btn-default" href="@Url.Action("Index")" title="Cancelar">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    Cancelar
                </a>
                <button type="submit" class="btn btn-success" title="Crear proveedor">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Crear
                </button>
            </div>
        </div>
    </div>
}