@model ME.Libros.Web.Models.ClienteViewModel

<h3>Nuevo cliente</h3>
@using (Html.BeginForm("Crear", "Cliente", FormMethod.Post, new { id = "formCliente", @class = "form-horizontal" }))
{
    @Html.ValidationSummary()

    @Html.Partial("Shared/Form_Partial", Model)
    
    <div class="form-group">
        <div class="col-sm-offset-8">
            <a id="btnCancelarCrear" class="btn btn-default" href="#">
                Cancelar
            </a>
            <input id="btnCrearCliente" type="submit" value="Crear" class="btn btn-success" />
        </div>
    </div>
}

<script>
    $("#btnCancelarCrear").on("click", function () {
        cargarPestaña('@Url.Action("Index", "Cliente")');
    });

    $("#formCliente").on("submit", function () {
        event.preventDefault();
        $.ajax({
            method: "POST",
            url: $("#formCliente").attr("action"),
            data: $("#formCliente").serialize(),
            dataType: "json",
            error: function (text, error) {
                mensajeError("Ha ocurrido un error: " + text + error);
            },
            success: function (data) {
                if (data.success) {
                    $("#error").hide();
                    mensajeSuccess("El cliente se creó exitosamente");
                    cargarPestaña('@Url.Action("Index", "Cliente")');
                } else {
                    $("#error > ul").empty();
                    $.each(data.mensajes, function (key, value) {
                        $("#error > ul").append("<li><b>" + key + "</b>: " + value + "</li>");
                    });
                    $("#error").show();
                }
            },
            timeout: 10000,
            cache: false
        });
    });
</script>
