@model ME.Libros.Web.Models.ClienteViewModel

<h3>Nuevo cliente</h3>
@using (Html.BeginForm("Crear", "Cliente", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary()

    @Html.Partial("Shared/Form_Partial", Model)

    <div class="form-group">
        <div class="col-sm-offset-8">
            <a class="btn btn-default" href="@Url.Action("Index", "Administracion")">
                Cancelar
            </a>
            <input type="submit" value="Crear" class="btn btn-success" />
        </div>
    </div>
}
