@model ME.Libros.Web.Models.ClienteViewModel

<h3 class="page-header">Detalle cliente</h3>
<div class="form-horizontal formDetalle">
    @Html.Partial("Shared/Form_Partial", Model)

    <div class="row">
        <div class="col-md-10">
            <div class="text-right">
                <a id="btnCancelar" class="btn btn-default" href="@Url.Action("Index")">
                    Cancelar
                </a>
            </div>
        </div>
    </div>
</div>