<ul class="nav nav-stacked">
    <li role="presentation" class="active"><a href="#tabClientes">Clientes</a></li>
    <li role="presentation"><a href="#">Cobradores</a></li>
    <li role="presentation"><a href="#">Vendedores</a></li>
    <li role="presentation"><a href="#">Proveedores</a></li>
    <li role="presentation"><a href="#">Zonas</a></li>
    <li role="presentation"><a href="#">Localidades</a></li>
    <li role="presentation"><a href="#">Provincias</a></li>
</ul>
<div id="tabClientes">
    <button type="button" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Nuevo
    </button>
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
        Filtrar
    </button>
    <table class="table table-striped table-hover">
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>CUIL</th>
            <th>Acciones</th>
        </tr>
        <tr>
            <td>100</td>
            <td>Juan</td>
            <td>Perez</td>
            <td>20-36406247-9</td>
            <td>
                <button class="btn btn-default btn-sm" type="button">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </button>
                <button class="btn btn-default btn-sm" type="button">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button class="btn btn-danger btn-sm" type="button">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        <tr>
            <td>100</td>
            <td>Juan</td>
            <td>Perez</td>
            <td>20-36406247-9</td>
            <td>
                <button class="btn btn-default btn-sm" type="button">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </button>
                <button class="btn btn-default btn-sm" type="button">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button class="btn btn-danger btn-sm" type="button">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    </table>


</div>

